section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 2rem 2rem;
  position: relative;
}

.section-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  section {
    padding: 4rem 1rem 1rem 1rem;
  }
}
