section#bts-sio {
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0.5rem;
}

#description {
  padding: 1rem;
}

.bts-sio-spe {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: 2rem;
  margin: 1rem;
}

.spe p {
  padding: 0.5rem;
}

/* Responsive design */
@media screen and (max-width: 900px) {
  section#bts-sio {
    padding: 1rem;
  }

  .bts-sio-spe {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0.5rem;
  }

  .separator-v {
    display: none;
  }
}
