section#bts-sio {
  align-items: start;
  flex-direction: column;
  padding: 2rem;
}

.bts-sio-spe {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Responsive design */
@media screen and (max-width: 900px) {
  section#bts-sio {
    padding: 1rem;
  }

  .bts-sio-spe {
    flex-direction: column;
  }
}
