section#contact {
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0.5rem;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  width: calc(10rem + 25%);
}

input,
textarea {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: medium;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

textarea {
  resize: none;
  height: 10rem;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 2.5px 10px 0 var(--main-color);
}

/* Responsive design */
@media screen and (max-width: 900px) {
  section#contact {
    padding: 1rem;
  }
}
