section#ecole-entreprise {
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0.5rem;
}

.groups {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: 2rem;
  margin: 1rem;
}

.group p {
  text-align: center;
}

.informations {
  display: flex;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#my-future {
  margin: 1rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1500px) {
  .informations {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  section#ecole-entreprise {
    padding: 1rem;
  }

  .groups {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0.5rem;
  }

  #my-future {
    margin: 0.5rem;
  }

  .separator-v {
    display: none;
  }
}
