/* Importation de la police d'écriture personnalisée */
@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

/* Configuration générale du style de la page */
body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: large;
  margin: 20px;
  background-color: #282a36;
}

div.lignes {
  margin-top: -20px;
}

p {
  line-height: 30px;
}

/* Modification du style de la balise <input> */
input {
  font-family: "JetBrains Mono", sans-serif;
  background-color: transparent;
  color: #f8f8f2;
  font-size: large;
  border: transparent;
  width: 75%;
  color: #ff79c6;
}

/* Enlever la bordure bleue qui entoure l'input lorsqu'il est sélectionné */
input:focus {
  outline: none;
}

/* Mettre les élements du div lignes sur la même ligne */
.lignes {
  display: flex;
}

/* Colors */
h1 {
  color: #bd93f9;
}

p {
  color: #ff79c6;
}

span.normalized {
  color: #f8f8f2;
}

span.command {
  color: #ff79c6;
}

span.information {
  color: #bd93f9;
}

span.comment {
  color: #8be9fd;
}

span.question {
  color: #6272a4;
}

span.error {
  color: #ff5555;
}

span.success {
  color: #50fa7b;
}

span.important {
  color: #ffb86c;
}

span.warning {
  color: #f1fa8c;
}

/* Cursor */
p.lignes::after {
  content: "|";
  color: #ff79c6;
  animation: cursor 0.8s infinite;
}

@keyframes cursor {
  to {
    color: #ff79c600;
  }
}
