@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

body {
  font-family: "JetBrains Mono", sans-serif;
  margin: 20px;
  background-color: #282a36;
}

h1 {
  color: #bd93f9;
}

p {
  color: #ff79c6;
}

span.normalized {
  color: #f8f8f2;
}

span.command {
  color: #ff79c6;
}

span.information {
  color: #bd93f9;
}

span.comment {
  color: #8be9fd;
}

span.question {
  color: #6272a4;
}

span.error {
  color: #ff5555;
}

span.success {
  color: #50fa7b;
}

span.important {
  color: #ffb86c;
}

span.warning {
  color: #f1fa8c;
}

p.lignes::after {
  content: "|";
  color: #ff79c6;
  animation: cursor 0.8s infinite;
}

@keyframes cursor {
  to {
    color: #ff79c600;
  }
}
